
name : Install CppUnit Test

on :
  push :
    branches : [ "master", "develop" ]

jobs :
  install_cppunit_job:
    runs-on : ubuntu-latest
    name : install CppUnit

    strategy :
      fail-fast : false

      matrix :
        with-cppunit :
          - no
          - ~/tools/cppunit
          - tools/cppunit

    steps :
      - uses : actions/checkout@v4

      - name : Print Install Dir
        run : |
          echo "workspace = ${{ github.workspace }}"
          echo "target    = ${{ matrix.with-cppunit }}"
          sudo  mkdir -p  /tools
          ls /
        shell : bash

      - if : ${{ matrix.with-cppunit != 'no' }}
        id   : install-cppunit
        name : Install CppUnit
        uses : takahiro-itou/install-cppunit-action@develop
        with :
          install-prefix : "${{ matrix.with-cppunit }}"

      - name : Post-Show Workspace
        run : |
          pwd
          echo "${{ github.workspace }}"
          echo "${{ steps.install-cppunit.outputs.real-install-dir }}"
          ls -lR "${{ steps.install-cppunit.outputs.real-install-dir }}"

        shell : bash
